{{ define "content" }}
  <section>
    <p>
      <a href="/">Classes</a> /
      <a href="/classes/{{ .Data.Class.Slug }}">{{ .Data.Class.Name }}</a> /
      <a
        href="/classes/{{ .Data.Class.Slug }}/semesters/{{ .Data.Semester.Slug }}"
        >{{ .Data.Semester.Name }}</a
      >
    </p>

    <h1>{{ .Data.Subject.Name }}</h1>

    {{ with .Data.Units }}
      <ul>
        {{ range . }}
          <li>
            <a
              href="/classes/{{ $.Data.Class.Slug }}/semesters/{{ $.Data.Semester.Slug }}/subjects/{{ $.Data.Subject.Slug }}/units/{{ .Slug }}"
            >
              {{ .Name }}
            </a>
            {{ if .Description }}
              <p>{{ .Description }}</p>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No units are available yet.</p>
    {{ end }}
  </section>
{{ end }}
